.commandCenter {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  padding: 1em;
}

.buttonDelete {
  border: solid rgba(0,0,0,0) 1px;
  color: #a81928;
}

.buttonDelete:hover {
  color: #e8152a;
}

.buttonCopy:active {
  background-color: green !important;
}

.command {
  padding: 0.75em 1em;
  border: 1px black solid;
  border-radius: 10px;
  background-color: #202020;
  user-select: none;
}

.commandSelectors:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.commandSelectors:active {
  margin-top: 3px;
  margin-bottom: -3px;
}

.flushRight {
  margin-left: auto;
}

.tooltipBase {
  position: relative;
  display: inline-block;
}

.tooltipBase .tooltipText {
  opacity: 0;
  width: 120px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltipBase .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: green transparent transparent transparent;
}