.ertNoteGenerator {
  margin: 2em;
  display: flex;
  flex-direction: column;
  border: 1px grey solid;
  min-width: 800px;
}

.primaryNoteGenerator {
  display: flex;
  flex-direction: row;
  border-bottom: 1px grey solid;
}

.raiderList {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  border-right: 1px grey solid;
  min-width: fit-content;
}