.heading {
  font-weight: 600;
  margin: 0;
  padding: 0.25em;
  border-bottom: 1px grey solid;
  background-color: #2d2d2d;
  user-select: none;
}

.heading:not(:first-child) {
  border-top: 1px grey solid;
}