
.textBox {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  background-color: rgba(0,0,0,0);
  color: white;

  margin: 0 8px;
  padding: 2px;

  box-sizing: content-box;
  border: solid rgba(0,0,0,0) 3px;
  max-width: 100%;
}

.textBox:hover {
  background-color: #202020;
}

.textBox:focus {
  background-color: #dddddd;
  color: black;
}