body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  font-size: larger;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.death_knight { color: #C41E3A; }
.demon_hunter { color: #A330C9; }
.druid { color: #FF7C0A; }
.evoker { color: #33937F; }
.hunter { color: #AAD372; }
.mage { color: #3FC7EB; }
.monk { color: #00FF98; }
.paladin { color: #F48CBA; }
.priest { color: #FFFFFF; }
.rogue { color: #FFF468; }
.shaman { color: #0070DD; }
.warlock { color: #8788EE; }
.warrior { color: #C69B6D; }

.cursorFocus {
  border: solid #3e3eed 3px !important;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
  animation: fade 4s linear;
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}